* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  display: flex;
}

/* 
.item {
  height: 400px;
  width: 400px;
} */


.container div {
  font-size: 5vw;
  padding: .5em;
  color: white;
  display: flex;
  flex: 1;
}




.orangered {
  background-color: orangered;
  flex-direction: column;
}


.green {
  background-color: green;
}


.yellow {
  background-color: yellow;
}


